# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

#storage:
#  dbPath: /data/db

#systemLog:

#net:

#processManagement:

#security:

#operationProfiling:

#replication:
#  replSetName: "rs0"

#sharding:
